    <button (click)="startTimer()">Start Timer</button>
    <button [disabled]="disablePause" (click)="pauseTimer()">Pause</button>
    <div>
      <p *ngIf="showTime; else showDiv">
        You will see message in <br />
        {{ timeLeft }} seconds
      </p>
    </div>